# macOS System Files
.DS_Store

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build and Output
dist/
coverage/
*.out
*.exe
*.dll
*.pyc
*.pyo
*.swp

# Secrets and Environment Files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
KEYS

# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jest coverage
jest/
coverage/
