# Ignore Node.js dependencies
node_modules/
npm-debug.log*

# Ignore environment variables
.env

# Ignore macOS system files
.DS_Store

# Ignore logs and temp files
*.log
*.tmp

# Ignore build output
dist/
build/
